<!DOCTYPE html>
<html>
<head>
    <title>Emergency Routing System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Emergency Vehicle Routing System</h1>
    </header>
    <main>
        <form action="/calculate" method="post">
            <div class="form-group">
                <label for="vehicle_type">Vehicle Type:</label>
                <select id="vehicle_type" name="vehicle_type" required>
                    <option value="ambulance">Ambulance → Hospital (Red)</option>
                    <option value="firetruck">Fire Truck → Fire Station (Orange)</option>
                    <option value="police">Police → Police Station (Blue)</option>
                </select>
            </div>
            <div class="form-group">
                <label for="start">Start Node:</label>
                <input type="text" id="start" name="start" value="HQ" required>
            </div>
            <div class="form-group">
                <label for="nodes">Nodes (ID X Y [TYPE]):</label>
                <textarea id="nodes" name="nodes" rows="10" cols="40" required>
HQ 0 0
A 2 0
B 4 0
C 6 0
D 8 0
E 10 0 hospital
F 0 2
G 2 2
H 4 2
I 6 2
J 8 2
K 10 2 fire-station
L 0 4
M 2 4
N 4 4
O 6 4
P 8 4
Q 10 4
R 0 6
S 2 6
T 4 6
U 6 6
V 8 6
W 10 6
X 0 8
Y 2 8
Z 4 8
AA 6 8
AB 8 8
AC 10 8 police-station
                </textarea>
            </div>
            <div class="form-group">
                <label for="edges">Edges (Src Dest Weight):</label>
                <textarea id="edges" name="edges" rows="10" cols="40" required>
HQ A 5
A B 3
B C 2
C D 4
D E 3
F G 4
G H 2
H I 3
I J 4
J K 3
L M 5
M N 3
N O 2
O P 4
P Q 3
R S 4
S T 2
T U 3
U V 4
V W 3
X Y 5
Y Z 3
Z AA 2
AA AB 3
AB AC 4
HQ F 7
A G 4
B H 2
C I 3
D J 4
E K 3
F L 5
G M 3
H N 2
I O 4
J P 3
K Q 4
L R 5
M S 3
N T 2
O U 4
P V 3
Q W 4
R X 5
S Y 3
T Z 2
U AA 3
V AB 4
W AC 3
A L 6
B M 4
C N 2
D O 3
E P 4
F R 5
G S 3
H T 2
I U 4
J V 3
K W 4
L X 5
M Y 3
N Z 2
O AA 4
P AB 3
Q AC 4
A R 7
B S 5
C T 3
D U 2
E V 4
F W 5
G X 3
H Y 2
I Z 4
J AA 3
K AB 4
L AC 5
M W 6
N AC 4
O AB 3
P AA 2
Q Z 4
R Y 5
S X 3
T W 2
U AC 4
V AB 3
W AA 2
X S 5
Y R 3
Z O 2
AA N 4
AB I 3
AC E 4
                </textarea>
            </div>
            <button type="submit">Calculate Route</button>
        </form>
    </main>
</body>
</html>